* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/*-----------Todas las secciones tinen un..------------*/

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    /* hace que desaparesca todo lo que sale del contenedor  */
    margin: auto;
    padding: 60px 0;
}

.subtitulo {
    text-align: center;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
    font-family: "Source Sans Pro", sans-serif;
}


/*--------------Cabecera---------------*/

.header {
    height: 100vh;
    background-image: url(../IMG/ciudad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.head {
    text-align: center;
    padding: 0;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background-color: rgba(169, 169, 169, 0.212);
    border-radius: 10px;
}

.head-titulo {
    font-size: 80px;
    margin-bottom: 15px;
}

.head-puesto {
    font-size: 45px;
    font-weight: 300;
}

.head-social-media {
    margin-top: 20px;
    display: flex;
}

.head-social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.head-social-media-icon:hover {
    background-color: #fff;
    border: 1px solid #764ba2;
}

.head-social-media-icon img {
    width: 30px;
    margin-top: 1rem;
}


/*-----------Sección Sobre Mí-----------------*/

.sobre-mi {
    background-color: #f2f2f2;
}

.contenedor-sobremi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-sobremi-info {
    width: 60%;
}

.text-sobremi {
    line-height: 2em;
    font-size: 16px;
    color: rgb(23, 1, 49);
    text-align: justify;
    font-family: "Source Sans Pro", sans-serif;
}

.sobremi-cv-caja {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px;
}

.sobremi-cv-enlace {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 7px 5px;
    border-radius: 10px;
    width: 250px;
    text-decoration: none;
    color: #9f8ad0;
    border: 3px solid #9f8ad0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.sobremi-cv-enlace:hover {
    background-color: #9f8ad0;
    color: #f2f2f2;
}

.contenedor-sobremi img {
    width: 40%;
    max-width: 300px;
    border-radius: 50%;
    transition: all 0.25s ease-out 0s;
}

.contenedor-sobremi img:hover{
    border-radius: 20px;
}
/*-----------Sección Portafolio-----------------*/

.portafolio {
    background-color: #c7c5c5;
}

/*-----------Sección Botones-----------------*/
.contenedor-portafolio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn-container{
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.filter-btn{
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    color: #102a42;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    border: 3px solid #9f8ad0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    text-transform: capitalize;
    margin: 5px 15px;
}
.filter-btn:hover{
    background-color: #9f8ad0;
    color: #f2f2f2;
}

/*-----------fin Sección Botones-----------------*/

.proyecto {
    background: #fff;
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 5%;
}

.proyecto-img {
    width: 100%;
}

.proyecto-titulo {
    color: #353535;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 5px;
    margin: 0;
}

.proyecto-subtitulo {
    color: #353535;
    font-size: 16px;
    padding: 20px;
    padding-top: 0;
    margin: 0;
    font-family: "Avenir-Light";
}

.proyecto-subtitulo-2 {
    padding: 20px;
    margin: 0;
    color: #353535;
    font-size: 16px;
    padding-bottom: 0;
    font-family: "Avenir-Roman";
}

.proyecto-tecnologias {
    margin: 0;
    padding: 20px 20px 5px;
    color: #353535;
    box-sizing: border-box;
    font-family: "Avenir-Light";
}

.proyecto-titulo-enlace {
    text-decoration: none;
}

.proyecto-repo-caja {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px;
}

.proyecto-repo-enlace {
    background-color: #a6a6a6;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    border-radius: 10px;
    width: 90%;
}

.proyecto-repo-enlace_icon {
    width: 35px;
}


/* -------Footer--------- */

.footer {
    background-color: #9f8ad0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us {
    width: 40%;
    color: #fff;
}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover {
    background-color: #fff;
    color: #764ba2;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}


/*-------------Responsive entre 500 y 800 pixeles-------------*/

@media screen and (max-width: 800px) {
    .head-titulo {
        font-size: 60px;
    }
    .head-puesto {
        font-size: 35px;
    }
    .contenedor-sobremi-info {
        width: 80%;
    }
    .sobremi-cv-enlace {
        font-size: 20px;
        padding: 5px 3px;
    }
    .contenedor-sobremi img {
        width: 200px;
        margin-top: 40px;
    }
    .proyecto {
        width: 45%;
    }
    .proyecto-repo-enlace {
        width: 70%;
    }
    .proyecto-repo-enlace_icon {
        width: 30px;
    }
    .footer-content {
        justify-content: center;
    }
    .head-social-media {
        width: 45%;
        justify-content: space-evenly;
    }
    .social-media {
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media-icon {
        margin-left: 0;
    }
    .contact-us {
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}


/*-------------Responsive entre 0 y 500 pixeles-------------*/

@media screen and (max-width: 500px) {
    .head-titulo {
        font-size: 30px;
    }
    .head-puesto {
        font-size: 25px;
    }
    .head-social-media {
        width: 85%;
    }
    .head-social-media-icon {
        background-color: #fff;
        border: 1px solid #764ba2;
    }
    .subtitulo {
        font-size: 30px;
    }
    .contenedor-sobremi-info {
        width: 100%;
    }
    .sobremi-cv-enlace {
        font-size: 18px;
        padding: 3px;
    }
    .contenedor-sobremi img {
        width: 150px;
    }
    .filter-btn{
        margin: 5px 5px;
    }
    .proyecto {
        width: 100%;
    }
    .proyecto-repo-enlace {
        width: 90%;
        width: 70%;
    }
    .proyecto-repo-enlace_icon {
        width: 30px;
    }
    .social-media {
        width: 100%;
    }
    .contact-us {
        width: 90%;
    }
}


/*-------------Responsive entre 0 y 300 pixeles de Altura-------------*/

@media screen and (max-height: 300px) {
    .head {
        height: 70%;
    }
}