*{
	margin: 0;
	padding: 0;
}
body, html{
	height: 100%;
}
.fondo{
	background-image: url(imagenes/ciudad.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100%;
	position: relative;
}
.header1{
	width: 100%;
}
.header1 h1{
	width: 90%;
	margin: auto;
	color: #ffffff;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid #ffffff;
}
.wap{
	width: 90%;
	margin: auto;	
	padding-bottom: 30px;
}
.seccion h2{
	text-align: center;
	padding: 10px;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}
ul{
	width: 100%;
	margin: auto;
	text-align: center;
}
ul li{
	list-style-type: none;
	margin-bottom: 5px;
}
ul li a{
	display: inline-block;
	width: 100%;
	background: #9999ff;
	color: #d9d9d9;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
	margin: auto;
	border-radius: 30px;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}
/*
#9999ff color celeste oscuro
60px 


ul li a:hover{
	background: #d9d9d9;
	color: #9999ff;
}*/
footer{
	background-color: #666666;
	padding: 10px 0;
	color: #f2f2f2;
}

.social-media{
	width:90%;
	margin:auto;
	text-align: center;
}
.social-media a i{
	padding: 3px 15px;
	font-size: 22px;
	color: #f2f2f2;
}
.rights-text{
	width:90%;
	margin:auto;
	text-align: center;
	padding: 10px 0 5px;
}
.rights-text span{
	font-size: 18px;
	font-weight: bold;
}
/*@media (max-width: 560px){
	h1{
		font-size: 60px;
	}
	.seccion h2{
		font-size: 50px;
	}
	ul{ 
		width: 32%;
	}
	ul li a{
		font-size: 30px;
	}
}
*/