/*-----------Sección Sobre Mí-----------------*/

.sobre-mi {
    background-color: #f2f2f2;
}

.contenedor-sobremi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-sobremi-info {
    width: 60%;
}

.text-sobremi {
    line-height: 2em;
    font-size: 16px;
    color: rgb(23, 1, 49);
    text-align: justify;
    font-family: "Source Sans Pro", sans-serif;
    /* animation: backInLeft;
    animation-duration: 1.3s; */
}

.sobremi-cv-caja {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px;
}

.sobremi-cv-enlace {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 7px 5px;
    border-radius: 10px;
    width: 250px;
    text-decoration: none;
    color: #9f8ad0;
    border: 3px solid #9f8ad0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    /* animation: rotateIn;
    animation-duration: 1.3s; */
}

.sobremi-cv-enlace:hover {
    background-color: #9f8ad0;
    color: #f2f2f2;
}

.contenedor-sobremi_img {
    width: 40%;
    max-width: 300px;
    border-radius: 50%;
    transition: all 0.25s ease-out 0s;
    /* animation: backInRight;
    animation-duration: 1.9s; */
}

.contenedor-sobremi_img:hover{
    border-radius: 20px;
}

/*-------------Responsive entre 500 y 800 pixeles-------------*/

@media screen and (max-width: 800px) {
  .contenedor-sobremi-info {
      width: 80%;
  }
  .sobremi-cv-enlace {
      font-size: 20px;
      padding: 5px 3px;
  }
  .contenedor-sobremi img {
      width: 200px;
      margin-top: 40px;
  }
}

/*-------------Responsive entre 0 y 500 pixeles-------------*/

@media screen and (max-width: 500px) {
	.subtitulo {
			font-size: 30px;
	}
	.contenedor-sobremi-info {
			width: 100%;
	}
	.sobremi-cv-enlace {
			font-size: 18px;
			padding: 3px;
	}
	.contenedor-sobremi img {
			width: 150px;
	}
}