* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*-----------Todas las secciones tinen un..------------*/

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  /* hace que desaparesca todo lo que sale del contenedor  */
  margin: auto;
  padding: 60px 0;
}

.subtitulo {
  text-align: center;
  color: #9f8ad0;
  margin-bottom: 40px;
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  /* animation: fadeInTopRight;
  animation-duration: 1.3s; */
}

/*-----------Sección Portafolio-----------------*/

.portafolio {
  background-color: #c7c5c5;
}

.contenedor-portafolio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*-------------Responsive entre 500 y 800 pixeles-------------*/

@media screen and (max-width: 800px) {
}

/*-------------Responsive entre 0 y 500 pixeles-------------*/

@media screen and (max-width: 500px) {
  .filter-btn{
      margin: 5px 5px;
  }
}

/*-------------Responsive entre 0 y 300 pixeles de Altura-------------*/

@media screen and (max-height: 300px) {
}